var/*
*.sublime-project
*.sublime-workspace
!input/test.csv
!input/malformedFile.csv
input/*.csv
input/*
CSVRunner/Config.php
!CSVRunner/Processor/DB/Abstract.php
!CSVRunner/Processor/DB/Example.php
!CSVRunner/Processor/DB/Core.php
CSVRunner/Processor/DB/*.php
!CSVRunner/Processor/Row/Abstract.php
!CSVRunner/Processor/Row/Example.php
CSVRunner/Processor/Row/*.php
Core/Config.php
!Core/Processor/DB/Abstract.php
!Core/Processor/DB/Example.php
Core/Processor/DB/*.php
!Core/Processor/Row/Abstract.php
!Core/Processor/Row/Example.php
Core/Processor/Row/*.php