@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
body {
  background: #fafafc;
}
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rokkitt', serif;
}
label {
  font-weight: 100;
  font-size: 1.5em;
}
input,
select,
option,
button {
  font-family: 'Open Sans', sans-serif;
}
table {
  margin-top: 2.5em;
}
table th {
  font-family: 'Rokkitt', serif;
  font-weight: 900;
  font-size: 1.5em;
}
h2 {
  position: relative;
  font-weight: 900;
  padding: 0.7em 0 0.5em;
  font-size: 2.6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 auto 0.9em;
}
h2:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
button,
.btn {
  background-color: #e63232;
  border: none;
  margin-top: -3px;
  border-bottom: 3px solid #c82828;
}
button:hover,
.btn:hover {
  border-color: #dc2828;
  background-color: #dc2828;
  border-bottom: 1px solid #dc2828;
  margin-top: -4px;
  padding-bottom: 7px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2) inset;
  outline: none;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  outline-color: transparent;
  outline-style: none;
}
button:focus,
.btn:focus {
  background-color: #f12727;
  border-bottom: 3px solid #d41c1c;
  outline: none;
  box-shadow: none;
  outline-color: transparent;
  outline-style: none;
}
button:active,
.btn:active {
  background-color: #c81e1e;
  border-bottom: 1px solid #dc2828;
  margin-top: -1px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2) inset;
  outline: none;
  box-shadow: none;
  outline-color: transparent;
  outline-style: none;
}
.page-header {
  font-family: 'Rokkitt', serif;
  background: #3c3c41;
  margin: 0 auto 12px auto;
  padding: 20px 0;
  border-bottom: 4px solid #321e1e;
}
.page-header h1 {
  font-size: 3.5em;
  margin: 0;
  color: #e6e6f5;
  padding: 0;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0);
}
.page-header h1 small {
  color: rgba(190, 190, 200, 0.7);
}
.page-header h1 small em {
  color: #de7272;
  border-bottom: 1px solid #de7272;
}
.dump-file a {
  color: #aaaa10;
}
.delete-file .glyphicon-warning-sign {
  opacity: 0;
}
.delete-file:hover {
  background-color: rgba(230, 50, 50, 0.5) !important;
}
.delete-file:hover .glyphicon-warning-sign {
  opacity: 1;
}
.delete-file a {
  color: #cc1919;
  width: 100%;
  height: 100%;
}
#file-table .expand {
  cursor: pointer;
}
#file-table .main-row > td {
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#file-table .secondary-row {
  display: none;
}
#file-table .secondary-row > td {
  margin: 0;
  padding: 0;
}
#file-table .secondary-row > td > div {
  display: none;
}
#file-table .secondary-row > td > div table {
  margin-top: 0;
  margin-bottom: 0;
}
.warning {
  padding: 6px 6px 0 6px;
  margin: 6px 0;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: red;
}
#supports_html5_storage {
  display: none;
}
#script-output {
  min-height: 120px;
  border-radius: 3px;
  border: 1px solid #888;
  padding: 6px;
  background: #002458;
  color: white;
  margin-bottom: 2em;
  font-family: 'Consolas', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
#script-output h1,
#script-output h2,
#script-output h3,
#script-output h4,
#script-output h5,
#script-output h6,
#script-output span,
#script-output code,
#script-output pre,
#script-output i,
#script-output strong,
#script-output em {
  font-family: 'Consolas', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
#script-progress-mini {
  height: 8px;
}
.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
.file-size-updated,
.file-numlines-updated {
  color: #003200 !important;
  background-color: rgba(0, 255, 0, 0.1) !important;
}
.file-size-updated:after,
.file-numlines-updated:after {
  content: 'updated!';
  color: rgba(0, 50, 0, 0.6) !important;
  display: inline-block;
  float: right;
}
